/***** GENERAL STYLING *****/
/* Affects entire document */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* This ensures that the page scrolling is smooth when the nav bar is clicked */
}

/* Body */
body {
    margin: 0%;
    /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1;
    /* This and trnasition affect the page loading fade in effect */
    transition: 3s opacity;
    /* This causes a 3 second fade in, you can change this time if you choose */
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;

}

/* This section contributes to the fade effect for the page that occurs when the page is loaded */
body.fade-out {
    opacity: .1;
    /* This sets the level of opacity at the start of page load */
    transition: none;
}



/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: #87CEFA;
    /* This colors the navbar black */
    position: fixed;
    /* This keeps the navbar at the top of the screen as we scroll */
    top: 0;
    /* This ensures no space is displayed above the navbar */
    width: 100%;
    /* This makes the navbar span the entire width of the page */
    z-index: 1;
    /* This ensures other elements don't display over the navbar */
    position: fixed;
    -webkit-animation: moveNav 5s;
    /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s;
    /* This applies the moveNav animation for all other browsers */
}



/* Navbar links */
.Navbar a {
    float: left;
    /* This specifies that the text floats on the left on the navbar */
    display: block;
    /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white;
    /*This is the font color for text on our navbar */
    padding: .75vw 1vw;
    /* This is the padding around our text */
    text-decoration: none;
    /* This gets rid of the underlines under the text on the navbar */
    font-family: Avant Garde, Helvetica;
    /* This specifies the font family for text on the navbar */
    font-size: 1.5vw;
    /* This specifies the font size for text on our navbar */
    text-align: center;
    /* This centers the text within its container */
    position: relative;
    /* This sets the text relative to its normal positioning, allowing us to sue the animation below */
    -webkit-animation: movenavText 5.75s;
    /* Applies to the moveNavText animation for 5.75s */
    animation: movenavText 5.75s;
    /* Applies the moveNavText animation for 5.75s */
    letter-spacing: .2vw;

}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {
        left: -100vw;
    }

    /* The navbar is starting off screen to the left */
    to {
        left: 0vw;
    }

    /*This moves the navbar into place on the screen */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes movenavText {
    from {
        top: -100vw;
    }

    /* This sets the navbar text 100% above the viewport */
    to {
        top: 0vw;
    }

    /* This lowers the navbar text onto the navbar */
}



/* This animation effect causes the overlay video text to move down from the top of the page upon page load */
@keyframes movevideoText {
    from {
        top: -100vw;
    }

    /* This sets the position of the video text to above the viewport */
    to {
        top: 0px;
    }

    /* This moves the video text to the normal positioning on the viewport */
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    /* Defines the background color that will display when you hover over the link */
    color: #87CEFA;
    /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold;
    /* This makes the text on the navbar bold when hovered over */
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/* Navbar home button */
.Navbar a.active {
    /* This targets the a element on the navbar with the "active" class */
    background-color: #32527b;
}

/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/

/* This causes the video to zoom out from a zoomed in position upon page load */
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Formatting for background video */
#Futuristic_Video {
    position: fixed;
    /* This fixes the video to the page */
    right: 0;
    /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0;
    /* This ensures no space between the bottom of the video and the bottom of the page */
    min-height: 100%;
    /* This ensures the video is displayed across the full height of the page */
    top: 0;
    z-index: -1;
    /* This places the video behind the other elements on the page */
    min-width: 100%;
    /* This ensures the video is displayed across the full width of the page */
    animation: zoominoutsinglefeatured 5s;
}



/*Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.1);
    /*This provides a semi-transparent background for the text to sit over */
    color: white;
    /* Makes the font color white */
    width: 100%;
    /* Ensures the video-text container fills the width of the video */
    height: 100vh;
    padding-top: 2vh;
    /* This adds padding around the text so that the background goes slightly beyond the text */
    position: relative;
    -webkit-animation: moveNav 5.75s;
    animation: movevideoText 5.75s;
}

/***** END OF VIDEO STYLING *****/

/* Slideshow Styling */
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
    /* This creates a slightly transparent white background that's placed over the video */
}

.mySlides {
    display: none;
}



@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow section / container */
#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}



/* Images contained within slideshow */
.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

/* Next and previous buttons */
.Previous,
.Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
    text-decoration: none;
}

/* Positioning the right-hand next button */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover,
.Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

/* Number text (1/5, 2/5 etc.) - we have set this display to none, which means these are hidden */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/* The dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/* Hover effect for slideshow dots */
.active,
.dot:hover {
    background-color: black;
}

/* Fading animation for slideshow */
.myFade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/***** TABLE STYLING - this section covers the styling of the columns and rows within the table *****/
* {
    /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
    /* This creates a box with a border within which we will place most of our text */
}

.column_1 {
    background-color: #f2f2f2;
    flex: 1;

}

/* Screens 576px and smaller display a scroll bar if the text overflows the column height */
/* @media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
} */

.column_2 {
    flex: 1;
    background-color: transparent;
}

.carousel,
.carousel-inner,
.carousel-item {
    background-color: transparent;
    height: 100%;
    width: 100%;
    flex-grow: 1;


}

.carousel-item.active {
    display: flex;

    align-items: center;

    justify-content: center;

}

.carousel-item img {

    margin: auto;
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
}


/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: "";
    /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    /* The display property specifies the type of display behavior; the table value tells teh browser to treat the element as a table */
    clear: both;
    /* This clears any other elements from floating on the left or the right of an element */
}

/*Heading 1 elemnts */
h1 {
    text-transform: uppercase;
    /* Capitalizing all h1 headings */
    font-family: "trebuchet MS", Optima;
    /*Sets the font fammily of all h1 headings */
    text-align: center;
    /* Centering all h1 elements */
    margin-top: 3%;
    /* Adds a small margin above h1 elements */
    color: #1a1a1a;
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    /*Justify text within paragraph elements */
    letter-spacing: .1vw;
    /* This expands the text slightly */
    font-size: 1.5vw;
    padding-left: 1vw;
    /*Adds padding to the left of the paragraph element */
    padding-right: 1vw;
    /* Adds padding to the right of the paragraph element */
}

/* Center class - this applies to all elelemtns with the class "center" */
.center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    /* This center aligns the text */
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Anchor elements */
a {
    color: blue;
    /* This ensures all links are blue */
}

/* Quotation elements */
q {
    font-style: italic;
    /* This makes the quote italicized */
    font-weight: bold;
}

/* Image elements */
img {

    border-radius: 8px;
    /* Gives all images slightly rounded corners */
    max-width: 100%;
    /* Ensures all images stay within the width of their container */
    height: 100%;
    /* Sets the height of all images */
    display: block;
    /* Bu specifying black display we can ensure our images are to be centered */
    margin: auto auto auto auto;
    /* In combination with "margin-right": auto" this centers all images */
    display: block;
}



/* Center class hover effect - This only affects the quote, github link, and footer */
/* .center:hover {
    transition: transform 2s; */
/*This makes the transform effect last 2 seconds */
/* transform: scale(1.1); */
/* This makes the elements with clss "center increase in size by 1.1 when hovered over */
/* } */

/* Paragraph element hover effect */
p:hover {
    color: #00004d;
    transition: transform 1s;
    /* This makes the transform effect last 1 second */
    transform: scale(1.01);
    /*This makes the paragraphs increase slightly in size when hovered over */
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%);
    /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1);
    /*When the h1 elements are havered over the increase in size by 1.1 */
    transition: transform 1s;
    /*This causes the transformation to last 1 second */
    color: #32527b;
    font-weight: normal;
    /* Makes the text no longer bold when hovered over */
}

.images2:active {
    transform: translate(4px, 4px);

    box-shadow: none;

}



.images2 {
    box-shadow: 5px 10px grey;
    border: 1px solid black;

}

img:hover {
    filter: grayscale(5%);
    /* Brings back most of the image's color when hovered over */
}


/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
/* @media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
} */


/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        bottom: 1.75vvw;
    }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: #87CEFA;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* The popup form - hidden by default */
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
    color: #87CEFA
}

/* form styling */
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/* input[type=text] targets all text input sections of the contact form */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    /* Each input box covers the full width of the container */
    padding: .93vw;
    /* Adds padding within the text box */
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

/* Submit button */
.form-container .btn {
    background-color: white;
    color: #87CEFA;
    border-color: #87CEFA;
    margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
    background-color: #87CEFA;
    color: white;
    border-color: gray;
}

/* Button styling */
button {
    font-family: "trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* Hover effect for buttons */
.Pop_Up_Button:hover,
.form-container .btn:hover {
    color: white;
    background-color: #87CEFA;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}






/***** END OF CONTACT FORM STYLING *****/

/* Styling for footer element */
footer {
    padding: 2%;
    /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: white;
}

h1.mail:after {
    content: ' \2709';
}

footer a {
    text-decoration: none;
}

body {
    cursor: url('../images/plane_cursor.svg'), auto;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-weight: bold;
    font-size: 3em;
    font-family: "Arial Rounded MT", "Arial", sans-serif;

}

.message {
    filter: blur(1rem);
    transition: filter 0.8s ease 2s;
}



.message:hover {
    filter: blur(0);
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#Android {
    height: auto;
    overflow: visible;
}

.hamburger {
    display: none;
}

#mobileNav {
    display: none;

}


@media screen and (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .hamburger {
        position: fixed;
        top: 15px;
        width: 40px;
        left: 20px;
        z-index: 1001;
        display: block;
        background: white;
        border: none;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;


    }

    #menu1 {
        width: 15px;
    }

    #menu2 {
        width: 10px;
    }

    #menu3 {
        width: 5px;
    }


    .menu {
        display: block;
        height: 3px;
        background-color: rgb(7, 7, 7);
        margin: 3px 0;


    }

    #mobileNav {

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #87CEFA;

        z-index: 1000;


        padding-top: 60px;

        overflow-y: auto;

    }


    #mobileNav a {
        display: block;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 5vw;

    }


    .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 36px;
        color: white;


    }

    .Navbar a {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .content-a {
        order: 2
    }

    .content-b {
        order: 1;
    }

    .content-c {
        order: 3;
    }

    .content-d {
        order: 4;
    }

    .content-e {
        order: 6;
    }

    .content-f {
        order: 5;
    }

    .content-g {
        order: 8;
    }

    .content-h {
        order: 7;

    }

    .Video_Text {
        height: auto;
        padding-bottom: 2vh;

    }



    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .column {

        flex: 1;

        padding: 15px;
        min-height: 1px;


    }

    .column h1 {
        text-align: center;
    }

    .Navbar a {
        display: none;
    }

    .column p {
        font-size: 5vw;
        ;
    }
}